:root{
    --black1: #1a1a1a;
    --black2: #202124;
    --dark1: #333333;
    --dark2: #3c4043;
    --footer-gray: #70757a;
    --very-light-gray: #e6e6e6;
    --sm: 13px;
    --md: 14px;
    --lg: 15px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




